* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;


}

body {
    display: flex;
    flex-direction: column;
    background: rgb(255,229,236);
    background: linear-gradient(0deg, rgba(255,229,236,1) 0%, rgba(300,229,236,0.790375525210084) 58%);
    background-size: cover;
    width: 100vw;
    height: 100vh;


}

/*body animation*/
h1  {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
}

.open{
    animation: 3s infinite alternate slidein;

}

@keyframes cssAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h4 {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
}
p {
    animation: fadeIn 4.5s;
    -webkit-animation: fadeIn 4.5s;
    -moz-animation: fadeIn 4.5s;
    -o-animation: fadeIn 4.5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



h1 {
    text-align: left;
    font-weight: 100;
    z-index: 1;
    font-size: 24px;
    letter-spacing: 6px;
    top: 4px;
    height: 50px;
    margin-top: 42px;
    width: 190px;
    overflow: hidden;


}



.visually-hidden {clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;


}


p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
    /*font-size: 24px;*/
    font-size: 2.6vw;

    color:#ADADFF;

}



#open {
    margin-left: 54px;
    padding: 8px;
    float: left;
    display: block;
    z-index: 9999;
    font-size: 10vw;
    font-family: "Source Code Pro", serif;
    color:#ADADFF;
}

.open span:hover {
    color: #ffafcc;
}




.main {
    display: flex;
    flex-direction: column;
    color: #CCCCFF;
    float: left;
    width: 60%;
    padding: 4em;


}

.underline{
display: flex;
    max-height: 10px;
    float: inherit;



}
.main a{
    z-index: 2;
    left: 15%;
    margin-top: -95px;
    height: 60px;
    text-align: left;
    width: 190px;
    /*by removing absolute and using margin top i was able to keep the underline relative to h1*/

    color: rgba(204,204,255, 0);
    background-image: linear-gradient(#CCCCFF, #CCCCFF);
    background-size: 0 0.1em;
    background-position-y: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;

    font-weight: 100;
    font-size: 1em;
    letter-spacing: 6px;

}

.main a:hover,
.main a:focus,
.main a:active {
    background-size: 100% 0.1em;
}




.right {
    /*background-color: #e5e5e5;*/
    float: left;
    width: 20%;
    text-align: center;
}

i {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;


}
.footer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    color: #CCCCFF;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2vw;

}






@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }

}